<% if @name %>
  <h1>My name is <%= @name %> </h1>
 <% end %>

<div>
  <img  style="border: 3px dashed purple" src='https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313_960_720.jpg'>
</div>

<!-- <div>
  <form action="/named-dog">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
</div> -->
